@import 'react-toastify/dist/ReactToastify.css';


:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 16px;
    color: white;
    font-family: var(--font-primary);
    background-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.MuiFormHelperText-root {
    &:first-letter {
        text-transform: uppercase;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}